services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: whealth
      POSTGRES_USER: whealth
      POSTGRES_PASSWORD: whealth
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: ./backend
    environment:
      env_file:
      - .env

    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  pgdata:
